@charset "utf-8";html{background-color:#EEF2F5;color:#333;font-family: Arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;}
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,figure,form,fieldset,legend,input,textarea,button,p,blockquote,th,td,pre,xmp{margin:0;padding:0}
body,input,textarea,button,select,pre,xmp,tt,code,kbd,samp{line-height:1;font-family:tahoma,arial,"Hiragino Sans GB",simsun,sans-serif}
h1,h2,h3,h4,h5,h6,small,big,input,textarea,button,select{font-size:100%}
h1,h2,h3,h4,h5,h6{font-family:"microsoft yahei",simsun,sans-serif;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
address,cite,dfn,em,i,optgroup,var{font-style:normal}
table{border-collapse:collapse;border-spacing:0;text-align:left}
caption,th{text-align:inherit}
ul,ol,menu,li{list-style:none}
fieldset,img{border:0}
img,object,input,textarea,button,select{vertical-align:middle}
img{width:100%;}
article,aside,footer,header,section,nav,figure,figcaption,hgroup,details,menu{display:block;box-sizing: border-box}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
blockquote:before,blockquote:after,q:before,q:after{content:"\0020"}
textarea{overflow:auto;resize:vertical}
input,textarea,button,select,a{outline:0 none;border: none;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
mark{background-color:transparent}
a,ins,s,u,del{text-decoration:none}
sup,sub{vertical-align:baseline}
html {height: 100%;-webkit-tap-highlight-color: transparent;}
hr {height: 0.02rem;margin: 0.1rem 0;border: medium none;border-top: 0.02rem solid #cacaca;}
a {color: #F79727;text-decoration: none;}
div{box-sizing: border-box}
input{font-family:  'PingFangSC-Regular','Avenir', Helvetica, Arial, sans-serif;}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
.pointer{
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.05rem;
  height: 0.05rem;
}
::-webkit-scrollbar-thumb {
  background-color: #E4E8ED;
  border: 0.01rem solid rgba(255, 255, 255, 0.3);
  border-radius: 0.03rem;
}
::-webkit-scrollbar-thumb:window-inactive {
  background-color: #E4E8ED;
}